.chat-page {
  max-width: 800px;
  height: 80vh;
	margin: 0 auto;
	display: flex;
	border: 1px solid #ccc;
	flex-direction: column;
}

.chat-page header {
  background: #888;
  line-height: 60px;
  vertical-align: middle;
  padding-left: 12px;
}

.chat-page-messages-section {
  height: 100%;
  display: flex;
  overflow: auto;
}

.chat-page-messages-section ul {
  display: flex;
	flex-direction: column;
  padding: 0;
}

.chat-page-message {
  background: #333;
  color: #fff;
  border-radius: 16px;
  padding: 16px;
  margin: 16px;
  display: block;
}

.chat-page-message > small {
  margin-bottom: 8px;
  display: inline-block;
}

.chat-page-input-section {
  display: flex;
  flex-direction: row;
}

.chat-page-input-section input {
  height: 24px;
  width: 100%;
}
